.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Data/PromptGPT
MoralMachine/Data/Awad2018
MoralMachine/Data/Hainmueller2014
MoralMachine/Data/PromptGPT
MoralMachine/Data/Takemoto2023
MoralMachine/Data/Agrawal2020
IntegrativeExperimentsGAI.Rproj