.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


Data/usa_00004.csv.gz
Data/SharedResponsesSurvey.csv
Data/SharedResponses.csv.tar
Data/SharedResponsesSurvey.csv.tar
Data/NotUsedInResubmission1
Submission_01

Simulation
MoralMachine/Data/*
MoralMachine/PromptGPT
MoralMachine/Data/Temp
MoralMachine/Data/Awad2018
MoralMachine/Data/Hainmueller2014
MoralMachine/Data/PromptGPT
MoralMachine/Data/Takemoto2023
MoralMachine/Data/Agrawal2020
IntegrativeExperimentsGAI.Rproj

MoralMachine/Data/Llama2wide.zip
MoralMachine/Data/GPT3wide.zip
MoralMachine/Data/GPT4wide.zip
MoralMachine/Data/Palm2wide.zip
MoralMachine/Data/SharedResponsesClean.zip
MoralMachine/Data/SharedResponsesCleanWide.zip
MoralMachine/Data/JoinedLong.zip
MoralMachine/Data/JoinedWide.zip

BayesRM_dfintervention_Run1.csv
BayesRM_dfintervention_Run2.csv



1_DataCollection/supplementary_material
1_DataCollection/llama
1_DataCollection/__pycache__



LLMs_and_Social_Science240325.pdf


Data/6_ResultsPPI.csv.gz

Data/5_SurveySampleLLM_ppipy.csv.gz



Data/4_gpt4turbo_wp_20241118_combined.csv.gz

Data/4_gpt4turbo_wp_20241118_8.csv.gz

Data/4_gpt4turbo_wp_20241118_7.csv.gz

Data/4_gpt4turbo_wp_20241118_6.csv.gz

Data/4_gpt4turbo_wp_20241118_4.csv.gz

Data/4_gpt4turbo_wp_20241118_5.csv.gz

Data/4_gpt4turbo_wp_20241118_0.csv.gz

Data/4_gpt4turbo_wp_20241118_1.csv.gz

Data/4_gpt4turbo_wp_20241118_2.csv.gz

Data/4_gpt4turbo_wp_20241118_3.csv.gz

Code/__pycache__/PythonFunctions.cpython-311.pyc

Data/4_gpt4turbo_wp_20241118_0r.csv.gz

Data/4_gpt4turbo_wp_20241118_1r.csv.gz

Data/4_gpt4turbo_wp_20241118_2r.csv.gz

Data/4_gpt4turbo_wp_20241118_3r.csv.gz

Data/4_gpt4turbo_wp_20241118_4r.csv.gz

Data/4_gpt4turbo_wp_20241118_5r.csv.gz

Data/4_gpt4turbo_wp_20241118_6r.csv.gz

Data/4_gpt4turbo_wp_20241118_7r.csv.gz

Data/4_gpt4turbo_wp_20241118_8r.csv.gz

Data/5_SurveySampleLLM.csv.gz

Data/7_AmceParamsSimulationR.csv.tar
