.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


Data/usa_00004.csv.gz
Data/SharedResponsesSurvey.csv
Data/SharedResponses.csv.tar
Data/SharedResponsesSurvey.csv.tar


Simulation
MoralMachine/Data/*
MoralMachine/PromptGPT
MoralMachine/Data/Temp
MoralMachine/Data/Awad2018
MoralMachine/Data/Hainmueller2014
MoralMachine/Data/PromptGPT
MoralMachine/Data/Takemoto2023
MoralMachine/Data/Agrawal2020
IntegrativeExperimentsGAI.Rproj

MoralMachine/Data/Llama2wide.zip
MoralMachine/Data/GPT3wide.zip
MoralMachine/Data/GPT4wide.zip
MoralMachine/Data/Palm2wide.zip
MoralMachine/Data/SharedResponsesClean.zip
MoralMachine/Data/SharedResponsesCleanWide.zip
MoralMachine/Data/JoinedLong.zip
MoralMachine/Data/JoinedWide.zip

BayesRM_dfintervention_Run1.csv
BayesRM_dfintervention_Run2.csv



1_DataCollection/supplementary_material
1_DataCollection/llama
1_DataCollection/__pycache__



LLMs_and_Social_Science240325.pdf


Data/6_ResultsPPI.csv.gz

Data/5_SurveySampleLLM_ppipy.csv.gz
